<div class="container-fluid main-content">

		<div class="row intro">
			<div class="col-md-4 col-md-offset-2 intro-about">
				<h1>Taln Software LLC</h1>
				<p class="lead">I founded Taln with the basic idea that software should solve problems. <br /> See what a partnership with Taln can do for your business or non-profit.</p>

			</div>
			<div class="col-md-4">
				<!-- 					replace with logo -->
				<img class="img-responsive img-thumbnail" src="https://res.cloudinary.com/dtzitz/image/upload/v1467400209/wdvbZUh_d5gqj6.jpg" alt="picture" />
			</div>
		</div>
		<div class="row">
			<div class="text-center portfolio-heading" id="portfolio">
				<h1>Portfolio</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div id="white-brake"></div>
			</div>
		</div>
		<div class="row top-buffer">
			<div class="col-md-4 col-md-offset-2"> <h3 class="text-center" >Dota Viewer</h3> {{#link-to 'dota-viewer'}} <img class="img-thumbnail dota-thumb" src="https://res.cloudinary.com/dtzitz/image/upload/v1467465429/Screenshot_from_2016-07-02_09-16-02_ivbb26.png" alt="Dota Viewer" /> {{/link-to}} </div>
			<div class="col-md-4"> <h3>Weather or Not</h3> {{#link-to 'weather-app'}} <img class="img-responsive img-thumbnail" src="https://res.cloudinary.com/dtzitz/image/upload/v1467636830/weather-or-not_umur7b.png" alt="weather-app" /> {{/link-to}} </div>
		</div>
		
		<div class="row top-buffer">
			<div class="col-md-4 col-md-offset-2"> <h3 class="text-center">Library App</h3> {{#link-to 'library-app'}} <img class="img-responsive img-thumbnail" src="https://res.cloudinary.com/dtzitz/image/upload/v1467640922/Screenshot_from_2016-07-04_09-49-45_d1heis.png" alt="placeholder" /> {{/link-to}} </div>
			<div class="col-md-4"> <h3 class="text-center">Code Repositories</h3> <a class="repo-link" href="https://github.com/dtzitz"> <i class="fa fa-github-square fa-5x text-center">Github</i></a> <br><div class="top-buffer"><a class="repo-link" href="https://bitbucket.org/dtzitz"> <i class="fa fa-bitbucket-square fa-5x">BitBucket</i></a></div> </div>
		</div>
		
		<div class="row top-buffer" id="contact">
			<div class="col-md-2 col-md-offset-3 text-center">
				<a href="https://www.facebook.com/dtzitz" target="_blank"> <i class="fa fa-facebook fa-5x"></i></a>
			</div>
			<div class="col-md-2 text-center">
				<a href="https://www.twitter.com/dtzitz" target="_blank"> <i class="fa fa-twitter fa-5x"></i> </a>
			</div>
			<div class="col-md-2 text-center">
				<a href="https://www.linkedin.com/in/dylanz" target="_blank"> <i class="fa fa-linkedin fa-5x"></i> </a>
			</div>
		</div>

		<div class="row top-buffer">
			<div class="col-md-12 text-center"> &copy; Dylan Zitzmann</div>
		</div>
	</div>