<div class="container-fluid main-content">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <a href="http://codepen.io/dtzitz/full/ZWZxRr/"> <img class="img-responsive img-thumbnail" src="https://res.cloudinary.com/dtzitz/image/upload/v1467636830/weather-or-not_umur7b.png" alt="Dota Viewer" /> </a>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Weather or Not</h2>
            <div class="description">
                Description: This app was built to provide a very simple idea of what the weather was outside along with the temperature.  
            </div>
            <div class="tech top-buffer">
                Tech: <br>
                 <i class="fa fa-5x fa-html5"></i> <i class="fa fa-5x "></i> <i class="fa fa-5x fa-codepen"></i> <i class="fa fa-5x fa-code"></i>JavaScript, Jquery
            </div>
            <div class="check-it-out top-buffer">
                <a href="http://codepen.io/dtzitz/full/ZWZxRr/"> <button class="btn btn-danger">Check it out</button></a>
            </div>
        </div>
    </div>
</div>